<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.1//EN"
    "https://checkstyle.org/dtds/configuration_1_1.dtd">

<module name="Checker">
    <module name="SuppressionFilter">
        <property name="file" value="suppressions.xml"/>
    </module>

    <module name="TreeWalker">
        <module name="UnusedImports"/>
        <module name="RedundantImport"/>
        <module name="AvoidStarImport"/>
        <module name="FinalLocalVariable"/>
        <module name="NeedBraces"/>
        <module name="LeftCurly"/>
        <module name="RightCurly"/>
        <module name="WhitespaceAround"/>
        <module name="WhitespaceAfter"/>
        <module name="SingleSpaceSeparator"/>
        <module name="NoWhitespaceBefore"/>
        <module name="NoFinalizer"/>
        <module name="OneStatementPerLine"/>
        <module name="EmptyLineSeparator">
            <property name="allowNoEmptyLineBetweenFields" value="true"/>
        </module>
        <module name="TypeName"/>
        <module name="MethodName"/>
        <module name="ParameterName"/>
        <module name="LocalVariableName"/>
        <module name="ConstantName"/>
    </module>
</module>
